@use '../variables/colors' as *;
@use '../variables/font' as *;

.input {
    width: 8rem;
    padding: {
        top: 0.5rem;
        bottom: 0.3rem;
        left: 0.3rem;
        right: 0.2rem;
    };
    border-radius: 5px;
    border: solid 1px $main_color;
    outline: none;
    font-family: $font;
    background-color: white;
    color: black;
}
