@use '../variables/colors' as *;

%shadow {
    box-shadow: 1px 1px 5px $special_color;
    border-radius: 10px;
}

%fade_in {
    animation: {
        name: fade-in;
        duration: 1000ms;
    };
}

%setting_btn {
    background-color: $special_color;
    color: white;
    border: solid 1px transparent;
    border-radius: 0;
    box-shadow: 2px 2px 0px $section_color, 5px 5px 2px $special_color,
    -2px -2px 0px $section_color, -4px -4px 2px $special_color;
    &:hover {
        transform: translate(0);
    }
}