// $main_color: #F96D00;
// $button_color: #F96D00;
// $special_color: rgb(62, 111, 128);

$button_color: #7286D3;
$main_color: #7286D3; // I like this
$special_color: #314e9c;

$right_color: green;
$wrong_color: red;


$section_color_dark : #151313;
$text_color_dark: #f6f4f4;
$border_color_dark: #f6f4f4;

$section_color: #F2F2F2;
$text_color: #393E46;
$border_color: #393E46;