@use '../variables/colors' as *;
@use '../variables/font' as *;
@use '../layout/placeholders' as *;

.home {
    font-family: $font;
    font-weight: bold;
    color: $text_color;
    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            @extend %shadow;
            padding: 0.8rem 1rem;
            animation: {
                name: fade-in;
                duration: 1s;
            };
            margin: {
                top:  0.5rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        button {
            color: black;
        }
    }

    .controls {
        padding-block-start: 2rem;
    }

    button {
        color: white;
        box-shadow: 1px 1px 1px black;
    }
    
    .main {
        background-color: $main_color;
        .section {
            padding: 2rem{
                top: 4rem;
                bottom: 4rem;
            };
            border-bottom: 1px solid $main_color;
            background-color: $section_color;
        }
    }

    .settings_buttons {
        position: relative;
        box-shadow: 0 1px 10px #999;
        text-align: center;
        background-color: $main_color;
        padding-block: 1rem;
        .theme_btn, .logout_btn {
            @extend %setting_btn
        }
        .theme_btn {
            margin-left: 3rem;
            border-radius: 25px;
            &:hover {
                transform: scale(1.1);
                box-shadow: none;
            }
        }
    }
}

.home[data-theme='dark']{
    color: $text_color_dark;

    .logout_btn, .theme_btn {
        background-color: $special_color;
        color: white;
        box-shadow: 2px 2px 0px $section_color_dark, 5px 5px 2px $special_color,
        -2px -2px 0px $section_color_dark, -4px -4px 2px $special_color;
    }

    .main {
        .upper, .lower {
            .section {
                background-color: $section_color_dark;
            }
        }
    }
}


@media (min-width: 700px) {
    .home {
        ul {
            box-shadow: 1px 1px 5px $special_color;
            border-radius: 10px;
        }
    }
}
@media (min-width: 1100px) {
        .main {
            .section {
                padding-inline: 2.5rem !important;
            }
        }
        .upper {
            display: grid;
            grid-template-columns: 0.9fr 1.1fr;
            gap: 0.1rem;

        }
        
        .lower {
            margin-top: 0.1rem;
            display: grid;
            grid-template-columns: 1.1fr 0.9fr;
            gap: 0.1rem;
        }
}