html,
body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
      width: 0.7rem;
      background-color: hsl(219, 4%, 32%);
    }
    body::-webkit-scrollbar-thumb {
  background-color: hsl(219, 4%, 50%);
    border-radius: 10px;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}