@use '../layout/placeholders' as *;
@use '../variables/colors' as *;

.to_do_section {
    .controls {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
    ul {
        .finished {
            opacity: 0.4;
        }
        li {
            cursor: pointer;
            text-align: left;
            span {
                display: flex;
            }
        }
        li.update_item {
            cursor: auto;
            input {
                margin: 0.5rem 0;
                width: 50%;
            }
            button {
                color: white;
            }
        }
    }
}

@media (min-width: 700px)  {
    .to_do_section {
        ul {
            padding: 2rem;
            max-height: 20rem;
            overflow-y: scroll;
        }
    }
}