@use '../layout/placeholders' as *;
@use '../mixins/breakepoints' as *;

.to_do_section {
    padding-top: 2rem;
    @extend %managment_section;

    ul {
        @extend %list;
        margin-left: 1rem; // overwriting %list
        width: 40rem; // overwriting %list

        li {
            cursor: pointer;
        }

        .finished {
            opacity: 0.4;
        }
    }

    .controls {// overwriting %managment_section
        width: 67%;
        button {
            margin-right: 8.5rem; 
        }
    }
}

// RESPONSIVE DESIGN

.to_do_section {
    @include breakepoints(small_screens) {
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
        ul {
            .loader {
                top: 40%;
                left: 45%;
            }
            margin: {
                right: auto;
                left: auto;
            }
            width: 23rem;
            height: 15rem;
        }
        .controls {
            width: 47%;
            margin: {
                top: 2rem;
            }
        }
    }

    @include breakepoints(large) {
        ul {
            width: 31rem;
            height: 18rem;
            margin: {
                left: auto;
                right: auto;
            }
        }
        .controls {
            width: 75%;
            button {
                margin-right: 6rem; 
            }
        }
    }

    @include breakepoints(medium) {
        ul {
            margin: {
                left: auto;
                right: auto;
            }
            width: 30rem;
            height: 18rem;
        }
        .controls {
            width: 80%;
            button {
                margin-right: 7rem; 
            }
        }
    }

    @include breakepoints(small) {
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
        ul {
            .loader {
                top: 40%;
                left: 45%;
            }
            margin: {
                left: auto;
                right: auto;
            }
            width: 50rem;
            height: 15rem;
        }
        .controls {
            width: 47%;
            margin: {
                top: 2rem;
                left: 40%;
            }
        }
    }

    @include breakepoints(mobile) {
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
        ul {
            .loader {
                top: 40%;
                left: 45%;
            }
            margin: {
                right: auto;
            }
            width: 40rem;
            height: 15rem;
        }
        .controls {
            width: 47%;
            margin: {
                top: 2rem;
                left: 40%;
            }
        }
    }
}
