@use '../variables/colors' as *;
@use '../layout/placeholders' as *;
@use '../mixins/breakepoints' as *;

.touch_typing_section {
    display: grid;
    grid-template-areas: 
        "header . . main"
        "sidebar sidebar sidebar sidebar";
    align-items: center;
    justify-content: center;
    padding: 1rem {
        top: 0.3rem;
    };
    button {
        color: white;
    }

    .status {
        width: 80%;
        grid-area: header;
        margin: {
            left: 5rem;
            top: 1rem;
        };
        text-align: left;
        height: 5rem;
        .best {
            @extend %fade_in;
        }
        .loader {
            width: 20px;
            height: 20px;
            &::after{
                width: 25px;
                height: 25px;
            }
        }
    }

    .typing_controls {
        margin: {
            right: 5rem;
            top: 2rem;
        };
        grid-area: main;
    }

    .screen {
        grid-area: sidebar;
        font-size: 16.5px;
        line-height: 1.5;
        .active {
            color: $main_color;
        }
        
        .correct {
            color: $right_color;
        }
        
        .incorrect {
            color: $wrong_color;
        }
    }

    .results {
        @extend %shadow;
        button {
            margin: {
                top: 1rem;
                left: 4rem;
            };
        }
        animation: {
            name: fade-in;
            duration: 1000ms;
        };
        margin-top: auto;
        padding: 1rem;
        width: 14rem;
        line-height: 2;
        text-align: left;
        font-size: 20px;

        .numbers {
            background-color: $main_color;
            padding: 0.2rem{
                bottom: 0; 
            };
            border-radius: 4px;
            color: white;
        }
    }
}

// RESPONSIVE DESIGN
.touch_typing_section {
    @include breakepoints(small_screens) {
        padding: 0 {
            top: 0.3rem;
        };
        .status {
            padding: {
                top: 1rem;
                bottom: 7rem;
            };
        }
        .screen {
            padding: {
                left: 3rem;
                right: 3rem;
            };
        }
        .results {
        font-size: 17px;
            margin: {
                top: 1.5rem;
                bottom: 1.5rem;
            };
        }
    }

    @include breakepoints(medium) {
        grid-template-areas: 
        "header . main main"
        "sidebar sidebar sidebar sidebar";
    }

    @include breakepoints(small) {
        .results {
        font-size: 17px;
        margin: {
            top: 1.5rem;
            bottom: 1.5rem;
        };
        }
    }

    @include breakepoints(mobile) {
        .screen {
            padding: {
                left: 3rem;
                right: 3rem;
            };
        }
        .results {
        font-size: 17px;
            margin: {
                top: 1.5rem;
                bottom: 1.5rem;
            };
        }
    }
}
