@use '../variables/colors' as *;
@use '../layout/placeholders' as *;

.touch_typing_section {
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .status {
        .loader {
            width: 22px;
            height: 22px;
            &::after {
                width: 29px;
                height: 29px;
            }
        }
        line-height: 2;
        border-bottom: 1px solid $special_color;
        padding-bottom: 1rem;
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
    }
    .typing_controls {
        padding-block: 1rem;
        text-align: center;
    }
    .results {
        @extend %shadow;
        @extend %fade_in;
        button {
            margin: {
                top: 1rem;
                left: auto;
                right: auto;
            };
            display: block;
        }
        margin-inline: auto;
        padding: 1rem;
        line-height: 2;
        text-align: left;
        font-size: 18px;

        .numbers {
            background-color: $main_color;
            padding: 0.2rem{
                bottom: 0; 
            };
            border-radius: 4px;
            color: white;
        }
    }

    .screen {
        font-size: 16.5px;
        line-height: 1.4;
        text-align: center;
        max-width: 50rem;
        .active {
            color: $main_color;
        }
        
        .correct {
            color: $right_color;
        }
        
        .incorrect {
            color: $wrong_color;
        }
    }
}