.btn {
  background-color: #F96D00;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0 0.1rem;
  border-radius: 5px;
  border: solid 2px white;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  -webkit-transform: translate(0, -0.3rem);
          transform: translate(0, -0.3rem);
}

.input {
  width: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.2rem;
  border-radius: 5px;
  border: solid 1px #F96D00;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  color: black;
}

.quiz_section .result, .touch_typing_section .results, .void .void_content, .register .pre_register, .register .register_form, .register .login_form, .login .register_form, .login .login_form, .register .register_form .auth_inputs input, .register .login_form .auth_inputs input, .login .register_form .auth_inputs input, .login .login_form .auth_inputs input, .login h2, .home ul li {
  -webkit-box-shadow: 1px 1px 5px rgb(62, 111, 128);
          box-shadow: 1px 1px 5px rgb(62, 111, 128);
  border-radius: 10px;
}

.quiz_section .topics .start, .quiz_section .result, .touch_typing_section .results {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.home .settings_buttons .theme_btn, .home .settings_buttons .logout_btn {
  background-color: rgb(62, 111, 128);
  color: white;
  border: solid 1px transparent;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 0px #F2F2F2, 5px 5px 2px rgb(62, 111, 128), -2px -2px 0px #F2F2F2, -4px -4px 2px rgb(62, 111, 128);
          box-shadow: 2px 2px 0px #F2F2F2, 5px 5px 2px rgb(62, 111, 128), -2px -2px 0px #F2F2F2, -4px -4px 2px rgb(62, 111, 128);
}
.home .settings_buttons .theme_btn:hover, .home .settings_buttons .logout_btn:hover {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.home {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #393E46;
}
.home ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.home ul li {
  padding: 0.8rem 1rem;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home ul button {
  color: black;
}
.home .controls {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}
.home button {
  color: white;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
}
.home .main {
  background-color: #F96D00;
}
.home .main .section {
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #F96D00;
  background-color: #F2F2F2;
}
.home .settings_buttons {
  position: relative;
  -webkit-box-shadow: 0 1px 10px #999;
          box-shadow: 0 1px 10px #999;
  text-align: center;
  background-color: #F96D00;
  padding-block: 1rem;
}
.home .settings_buttons .theme_btn {
  margin-left: 3rem;
  border-radius: 25px;
}
.home .settings_buttons .theme_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home[data-theme=dark] {
  color: #f6f4f4;
}
.home[data-theme=dark] .logout_btn, .home[data-theme=dark] .theme_btn {
  background-color: rgb(62, 111, 128);
  color: white;
  -webkit-box-shadow: 2px 2px 0px #151313, 5px 5px 2px rgb(62, 111, 128), -2px -2px 0px #151313, -4px -4px 2px rgb(62, 111, 128);
          box-shadow: 2px 2px 0px #151313, 5px 5px 2px rgb(62, 111, 128), -2px -2px 0px #151313, -4px -4px 2px rgb(62, 111, 128);
}
.home[data-theme=dark] .main .upper .section, .home[data-theme=dark] .main .lower .section {
  background-color: #151313;
}

@media (min-width: 700px) {
  .home ul {
    -webkit-box-shadow: 1px 1px 5px rgb(62, 111, 128);
            box-shadow: 1px 1px 5px rgb(62, 111, 128);
    border-radius: 10px;
  }
}
@media (min-width: 1100px) {
  .main .section {
    padding-inline: 2.5rem !important;
  }
  .upper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 0.1rem 1.1fr;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 0.1rem;
  }
  .lower {
    margin-top: 0.1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.1fr 0.1rem 0.9fr;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 0.1rem;
  }
}
.register .pre_register {
  max-width: 30rem;
  padding: 1rem;
  padding-right: 2rem;
  margin-inline: auto;
  background-color: rgb(219, 202, 202);
}
.register .pre_register h2 {
  padding-block: 1rem;
  margin-left: 2rem;
  border-bottom: solid 1px black;
  max-width: 18rem;
}
.register .pre_register ul {
  list-style-type: none;
  padding-left: 2rem;
}
.register .pre_register ul li {
  font-weight: bold;
  padding-block: 0.3rem;
}
.register .pre_register ul li .list_style {
  color: rgb(62, 111, 128);
}

.register, .login {
  padding: 4rem 2rem;
  min-height: 100vh;
  background-color: #F2F2F2;
  font-family: "Josefin Sans", sans-serif;
}
.register .register_form, .register .login_form, .login .register_form, .login .login_form {
  max-width: 30rem;
  margin-inline: auto;
  margin-top: 2rem;
  color: #393E46;
  background-color: white;
  border: solid 1px #F96D00;
  padding: 2rem;
  text-align: center;
}
.register .register_form .auth_inputs, .register .login_form .auth_inputs, .login .register_form .auth_inputs, .login .login_form .auth_inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  gap: 1rem;
  max-width: 20rem;
  margin-inline: auto;
}
.register .register_form .auth_inputs input, .register .login_form .auth_inputs input, .login .register_form .auth_inputs input, .login .login_form .auth_inputs input {
  width: 100%;
  font-size: 18px;
  padding: 0.4rem;
}
.register .register_form button, .register .login_form button, .login .register_form button, .login .login_form button {
  margin-block: 2rem;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  font-size: 16px;
  padding: 0.7rem;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  color: white;
}
.register .register_form .email_error, .register .login_form .email_error, .login .register_form .email_error, .login .login_form .email_error {
  color: red;
  margin-top: 1.5rem;
  display: block;
  font-weight: bold;
}

.login h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: rgb(219, 202, 202);
  padding: 1rem;
  min-width: 17rem;
  text-align: center;
}
.login .login_form {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.login .login_form h3 {
  padding-bottom: 2rem;
}

.void {
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2;
  font-family: "Josefin Sans", sans-serif;
}
.void .void_content {
  background-color: rgb(62, 111, 128);
  max-width: 25rem;
  text-align: center;
  padding: 3rem;
  padding-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid 1px white;
}
.void .void_content .text {
  color: white;
}
.void .void_content .icon {
  font-size: 10rem;
}

@media (min-width: 700px) {
  .void_content {
    min-width: 40rem;
  }
}
.to_do_section .controls {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
.to_do_section ul .finished {
  opacity: 0.4;
}
.to_do_section ul li {
  cursor: pointer;
  text-align: left;
}
.to_do_section ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.to_do_section ul li.update_item {
  cursor: auto;
}
.to_do_section ul li.update_item input {
  margin: 0.5rem 0;
  width: 50%;
}
.to_do_section ul li.update_item button {
  color: white;
}

@media (min-width: 700px) {
  .to_do_section ul {
    padding: 2rem;
    max-height: 20rem;
    overflow-y: scroll;
  }
}
.touch_typing_section {
  min-height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.touch_typing_section .status {
  line-height: 2;
  border-bottom: 1px solid rgb(62, 111, 128);
  padding-bottom: 1rem;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}
.touch_typing_section .status .loader {
  width: 22px;
  height: 22px;
}
.touch_typing_section .status .loader::after {
  width: 29px;
  height: 29px;
}
.touch_typing_section .typing_controls {
  padding-block: 1rem;
  text-align: center;
}
.touch_typing_section .results {
  margin-inline: auto;
  padding: 1rem;
  line-height: 2;
  text-align: left;
  font-size: 18px;
}
.touch_typing_section .results button {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.touch_typing_section .results .numbers {
  background-color: #F96D00;
  padding: 0.2rem;
  padding-bottom: 0;
  border-radius: 4px;
  color: white;
}
.touch_typing_section .screen {
  font-size: 16.5px;
  line-height: 1.4;
  text-align: center;
  max-width: 50rem;
}
.touch_typing_section .screen .active {
  color: #F96D00;
}
.touch_typing_section .screen .correct {
  color: green;
}
.touch_typing_section .screen .incorrect {
  color: red;
}

.quiz_section {
  border-bottom: none !important;
  position: relative;
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quiz_section .topics {
  min-height: 10rem;
  line-height: 3;
}
.quiz_section .topics .first_row, .quiz_section .topics .second_row, .quiz_section .topics .start {
  text-align: center;
}
.quiz_section .topics span {
  display: block;
  margin: 0.6rem auto;
}
.quiz_section .topics .selected {
  background-color: rgb(62, 111, 128);
}
.quiz_section .quiz {
  min-height: 14rem;
  max-width: 90%;
  margin: auto 0;
  text-align: center;
}
.quiz_section .quiz .question {
  min-height: 6rem;
  display: block;
  font-size: 20px;
}
.quiz_section .quiz .options {
  padding-block: 2rem;
}
.quiz_section .quiz .cancel_btn {
  line-height: 1;
  position: absolute;
  top: 8%;
  left: 8%;
}
.quiz_section .quiz .correct_answer {
  background-color: green;
}
.quiz_section .quiz .wrong_answer {
  background-color: red;
}
.quiz_section .quiz .next_btn, .quiz_section .quiz .cancel_btn {
  background-color: rgb(62, 111, 128);
}
.quiz_section .result {
  padding: 1rem;
  text-align: center;
  line-height: 2;
}
.quiz_section .result button {
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .quiz_section {
    padding-inline: 5rem !important;
  }
}
.calender_section ul li .event {
  text-align: left;
  max-width: 15rem;
  padding-right: 0.8rem;
}
.calender_section ul li button {
  line-height: 1;
}
.calender_section .controls {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 9rem;
}
.calender_section .controls button {
  margin-top: 0.5rem;
}

@media (min-width: 700px) {
  .calender_section ul {
    padding: 2rem;
    max-height: 20rem;
    overflow-y: scroll;
  }
}
.data {
  color: #F96D00;
}

.no_data {
  text-shadow: 1px 1px 5px rgb(62, 111, 128);
  font-size: 20px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  width: 30px;
  height: 30px;
  border: 3px solid rgb(62, 111, 128);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #F96D00;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}